@tailwind base;
@tailwind components;
@tailwind utilities;

html {
    background-color: white;
    color: white;
}

.circle-container {
    position: relative;
    width: 100%;
    height: 100vh; /* Adjust if necessary */
    overflow: hidden;
}

.circle,
.circle2 {
    width: 1000px;
    height: 1000px;
    border-radius: 50%;
    background-color: #ffff00;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: -20;
}

.circle {
    left: -600px;
}

.circle2 {
    right: -600px;
}

@media screen and (max-width: 768px) {
    .circle-container {
        height: 100vh;
    }
    .circle,
    .circle2 {
        width: 500px;
        height: 500px;
    }
    .circle {
        left: -300px;
    }
    .circle2 {
        right: -300px;
    }
}

.video-wrapper {
    width: 100%;
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto;
    background-color: #f0f0f0; /* Set the background color to match your design */
    border-radius: 10px;
    box-shadow: 0px 2px 6px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    overflow: hidden; /* Hide any video overflow */
}

.flex.flex-col.md:flex-row.items-center.justify-center.gap-5.px-10 {
    width: 100%;
    max-width: 800px; /* Adjust the maximum width as needed */
    margin: 0 auto;
}
